// colors
$black: #192A3E;
$white: #FFFFFF;
$table-black: #323C47;
$table-gray: #707683;
$gray: #90A0B7;
$dark-blue-text: #334D6E;
$icon-gray: #C2CFE0;
$accent-blue: #109CF1;
$accent-blue-hover: #34aff9;
$yellow: #FFB946;
$red: #F7685B;
$green: #2ED47A;
$purple: #885AF8;

// fonts
$main-font: 13px;
$title: 15px;
$small-font: 10px;
